<div class="surface-card p-4 shadow-2 border-round w-full my-5 m-auto lg:w-6 md:w-6">
  <form
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
  >
    <!-- TODO: откуда взялся этот кусок кода? Развернутый ответ мне в ЛС -->
    <div class="text-center mb-5">
      <div class="text-900 text-3xl font-medium mb-3">Welcome Back</div>
      <span class="text-600 font-medium line-height-3">Don't have an account?</span>
      <a
        class="font-medium no-underline ml-2 text-blue-500 cursor-pointer"
        routerLink="/register"
      >
        Create today!
      </a>
    </div>

    <div>
      <div class="field mb-3">
        <label
          for="email"
          class="block text-900 font-medium mb-2"
        >Email</label>
        <input
          formControlName="email"
          class="w-full"
          placeholder="Email address"
          pInputText
          id="email"
          aria-describedby="email-help"
          [ngClass]="{'ng-invalid ng-dirty': form.get('email')?.invalid && form.get('email')?.touched}"
        />
        <small
          id="email-help"
          class="p-error"
          *ngIf="form.get('email')?.invalid && form.get('email')?.touched"
        >
          <small *ngIf="form.get('email')?.errors?.['required']">Email не должен быть пустым</small>
          <small *ngIf="form.get('email')?.errors?.['email']">Введите корректеный email</small>
        </small>
      </div>

      <div class="field">
        <label
          for="password"
          class="block text-900 font-medium mb-2"
        >Password</label>
        <p-password
          class="w-full block"
          placeholder="Password"
          [style]="{'width':'100%'}"
          [inputStyle]="{'width':'100%'}"
          [toggleMask]="true"
          [feedback]="false"
          formControlName="password"
          id="password"
          aria-describedby="password-help"
          [ngClass]="{'ng-invalid ng-dirty': form.get('password')?.invalid && form.get('password')?.touched}"
        ></p-password>
        <small
          id="password-help"
          class="p-error"
          *ngIf="form.get('password')?.invalid && form.get('password')?.touched"
        >
          <small *ngIf="form.get('password')?.errors?.['required']">Пароль не должен быть пустым</small>
          <small
            *ngIf="form.get('password')?.errors?.['minlength'] && form.get('password')?.errors?.['minlength']['requiredLength']"
          >
            Пароль должен быть больше 6 символов
          </small>
        </small>
      </div>

      <button
        pButton
        pRipple
        label="Sign In"
        icon="pi pi-user"
        class="w-full"
        [disabled]="form.invalid || form.disabled"
        type="submit"
      ></button>
    </div>
  </form>
</div>