<form
  class="p-card"
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
>
  <p-card header="Создать аккаунт">
    <div class="">
      <div>
        <span class="p-float-label">
          <input
            formControlName="email"
            class="p-inputtext-lg"
            pInputText
            id="email"
            [ngClass]="{'ng-invalid ng-dirty': form.get('email')?.invalid && form.get('email')?.touched}"
          />
          <label htmlFor="email">Email</label>
        </span>
      </div>
      <span
        class="helper-text red-text"
        *ngIf="form.get('email')?.invalid && form.get('email')?.touched"
      >
          <span *ngIf="form.get('email')?.errors?.['required']">Email не должен быть пустым</span>
          <span *ngIf="form.get('email')?.errors?.['email']">Введите корректеный email</span>
      </span>

      <div>
        <span class="p-float-label">
          <p-password
            class="p-inputtext-lg"
            [toggleMask]="true"
            [feedback]="false"
            formControlName="password"
            id="password"
            [ngClass]="{'ng-invalid ng-dirty': form.get('password')?.invalid && form.get('password')?.touched}"
          ></p-password>
          <label for="password">Password</label>
        </span>
        <span
          class="helper-text red-text"
          *ngIf="form.get('password')?.invalid && form.get('password')?.touched"
        >
          <span *ngIf="form.get('password')?.errors?.['required']">Пароль не должен быть пустым</span>
          <span *ngIf="form.get('password')?.errors?.['minlength'] && form.get('password')?.errors?.['minlength']['requiredLength']">
            Пароль должен быть больше 6 символов
          </span>
        </span>
      </div>
    </div>

    <div class="card flex justify-content-center">
      <p-button label="Submit"></p-button>
    </div>
  </p-card>
</form>
