<form [formGroup]="formEdit">
    <div class="grid justify-content-between">
        <div class="col-5">
            <div class="field">
                <label for="nameEdit">{{ TasksEnum.NAME_TASK }}</label>
                <input
                        aria-describedby="name-help"
                        class="w-full"
                        id="nameEdit"
                        type="text"
                        pInputText
                        formControlName="name"
                />
                <small
                        id="nameEdit-help"
                        class="p-error"
                        *ngIf="formEdit.get('name')?.invalid &&(formEdit.get('name')?.dirty && formEdit.get('name')?.touched)"
                >
                    <small *ngIf="formEdit.get('name')?.errors?.['required']">{{TasksEnum.REQUIRED_TASK}}</small>
                </small>
            </div>
        </div>
        <div class="col-5">
            <div class="field">
                <label for="descriptionEdit">{{ TasksEnum.DESCRIPTION_TASK }}</label>
                <input
                        aria-describedby="descriptionEdit-help"
                        class="w-full"
                        id="descriptionEdit"
                        type="text"
                        pInputText
                        formControlName="description"
                />
                <small
                        id="descriptionEdit-help"
                        class="p-error"
                        *ngIf="formEdit.get('description')?.invalid &&(formEdit.get('description')?.dirty && formEdit.get('description')?.touched)"
                >
                    <small *ngIf="formEdit.get('description')?.errors?.['required']">{{TasksEnum.REQUIRED_TASK}}</small>
                </small>
            </div>
        </div>
        <div class="col-5">
            <div class="field">
                <label for="categoryEdit">{{ TasksEnum.CATEGORY_TASK }}</label>
                <input
                        aria-describedby="categoryEdit-help"
                        class="w-full"
                        id="categoryEdit"
                        type="text"
                        pInputText
                        formControlName="category"
                />
                <small
                        id="categoryEdit-help"
                        class="p-error"
                        *ngIf="formEdit.get('name')?.invalid &&(formEdit.get('category')?.dirty && formEdit.get('category')?.touched)"
                >
                    <small *ngIf="formEdit.get('categoryEdit')?.errors?.['required']">{{TasksEnum.REQUIRED_TASK}}</small>
                </small>
            </div>
        </div>
        <div class="col-5">
            <div class="field">
                <label for="deadlineEdit">{{ TasksEnum.CATEGORY_TASK }}</label>
                <p-calendar
                        class="w-full"
                        dateFormat="dd.mm.yy"
                        formControlName="deadline"
                        [showIcon]="true"
                        dataType="string"
                        id="deadlineEdit"
                        aria-describedby="deadlineEdit-help"
                ></p-calendar>
                <small
                        id="deadlineEdit-help"
                        class="p-error"
                        *ngIf="formEdit.get('deadline')?.invalid && formEdit.get('deadline')?.touched"
                >
                    <small *ngIf="formEdit.get('deadline')?.errors?.['required']">{{TasksEnum.REQUIRED_TASK}}</small>
                </small>
            </div>
        </div>
        <div class="col-5">
            <div class="field">
                <label for="priorityEdit">{{ TasksEnum.PRIORITY_TASK }}</label>
                <p-dropdown
                        [style]="{'width':'100%'}"
                        formControlName="priority"
                        [options]="priority"
                        [showClear]="true"
                        optionLabel="name"
                        placeholder="{{ TasksEnum.PRIORITY_PLACEHOLDER }}"
                        id="priorityEdit"
                        aria-describedby="priority-help"
                        [ngClass]="{'ng-invalid ng-dirty': formEdit.get('priority')?.invalid && formEdit.get('priority')?.touched}"
                ></p-dropdown>
                <small
                        id="priorityEdit-help"
                        class="p-error"
                        *ngIf="formEdit.get('priority')?.invalid && (formEdit.get('priority')?.dirty && formEdit.get('priority')?.touched)"
                >
                    <small *ngIf="formEdit.get('priority')?.errors?.['required']">{{TasksEnum.REQUIRED_TASK}}</small>
                </small>
            </div>
        </div>
    </div>
</form>
