<p-button icon="pi pi-pencil" (click)="showDialog(task)" severity="warning"></p-button>
<p-dialog header="Header" [(visible)]="visible" [style]="{ width: '50vw' }">
  <ng-template pTemplate="header">
    <span class="text-xl font-bold">Измение задачи</span>
  </ng-template>
  <form
    [formGroup]="formEdit"
  >
    <div>
      <input type="text" pInputText formControlName="name"/>
    </div>
    <div>
      <input type="text" pInputText formControlName="description"/>
    </div>
    <div>
      <input type="text" pInputText formControlName="category"/>
    </div>
    <div>
      <p-calendar
        dateFormat="dd.mm.yy"
        formControlName="deadline"
        [showIcon]="true"
        dataType="string"
      ></p-calendar>
    </div>
    <div>
      <p-dropdown
        formControlName="priority"
        [options]="priority"
        [showClear]="true"
        optionLabel="name"
        placeholder="Выбрать приоритет"
      ></p-dropdown>
    </div>
  </form>
  <ng-template pTemplate="footer">
    <form
      [formGroup]="formEdit"
      (ngSubmit)="submitEdit()"
    >
      <p-button
        type="submit"
        label="Ok"
        styleClass="p-button-text"
        icon="pi pi-check"
      ></p-button>
    </form>

  </ng-template>
</p-dialog>
