/* You can add global styles to this file, and also import other style files */
@import '~primeicons/primeicons.css';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.ng-touched {
  border-color: #e24c4c;
}

p-password:root .ng-touched{
  border-color: #e24c4c;
}
