<div class="surface-card p-4 shadow-2 border-round w-full my-4 m-auto lg:w-5">
  <form
    [formGroup]="form"
    (ngSubmit)="submit()"
  >
    <div class="grid justify-content-between">
      <div class="col-5">
        <div class="field">
          <label for="name">{{ TasksEnum.NAME_TASK }}</label>
          <input
            aria-describedby="name-help"
            class="w-full"
            id="name"
            type="text"
            pInputText
            formControlName="name"
          />
          <small
            id="name-help"
            class="p-error"
            *ngIf="form.get('name')?.invalid && (form.get('name')?.dirty ||form.get('name')?.touched)"
          >
            <small *ngIf="form.get('name')?.errors?.['required']">{{TasksEnum.REQUIRED_TASK}}</small>
          </small>
        </div>
      </div>
      <div class="col-5">
        <div class="field">
          <label for="description">{{ TasksEnum.DESCRIPTION_TASK }}</label>
          <input
            aria-describedby="description-help"
            class="w-full"
            id="description"
            type="text"
            pInputText
            formControlName="description"
          />
          <small
            id="description-help"
            class="p-error"
            *ngIf="form.get('description')?.invalid && (form.get('description')?.dirty ||form.get('description')?.touched)"
          >
            <small *ngIf="form.get('description')?.errors?.['required']">{{TasksEnum.REQUIRED_TASK}}</small>
          </small>
        </div>
      </div>
      <div class="col-5">
        <div class="field">
          <label for="category">{{ TasksEnum.CATEGORY_TASK }}</label>
          <input
            aria-describedby="category-help"
            class="w-full"
            id="category"
            type="text"
            pInputText
            formControlName="category"
          />
          <small
            id="category-help"
            class="p-error"
            *ngIf="form.get('category')?.invalid && (form.get('category')?.dirty ||form.get('category')?.touched)"
          >
            <small *ngIf="form.get('category')?.errors?.['required']">{{TasksEnum.REQUIRED_TASK}}</small>
          </small>
        </div>
      </div>
      <div class="col-5">
        <div class="field">
          <label for="deadline">{{ TasksEnum.CATEGORY_TASK }}</label>
          <p-calendar
            class="w-full"
            dateFormat="dd.mm.yy"
            formControlName="deadline"
            [showIcon]="true"
            dataType="string"
            id="deadline"
            aria-describedby="deadline-help"
          ></p-calendar>
          <small
            id="deadline-help"
            class="p-error"
            *ngIf="form.get('deadline')?.invalid && (form.get('deadline')?.dirty ||form.get('deadline')?.touched)"
          >
            <small *ngIf="form.get('deadline')?.errors?.['required']">{{TasksEnum.REQUIRED_TASK}}</small>
          </small>
        </div>
      </div>
      <div class="col-5">
        <div class="field">
          <label for="priority">{{ TasksEnum.PRIORITY_TASK }}</label>
          <p-dropdown
            formControlName="priority"
            [options]="priority"
            [showClear]="true"
            optionLabel="name"
            placeholder="Выбрать приоритет"
            id="priority"
            aria-describedby="priority-help"
          ></p-dropdown>
          <small
            id="priority-help"
            class="p-error"
            *ngIf="form.get('priority')?.invalid && (form.get('priority')?.dirty ||form.get('priority')?.touched)"
          >
            <small *ngIf="form.get('priority')?.errors?.['required']">{{TasksEnum.REQUIRED_TASK}}</small>
          </small>
        </div>
      </div>
    </div>
    <p-button
      type="submit"
      label="Submit"
      [disabled]="form.invalid"
    ></p-button>
  </form>
</div>
